.body-container{
    font-family: 'Poppins', sans-serif;
    background-image:url(/resources/static/Muyuna-lodge-Iquitos.webp);
    background-size: cover;
    min-height: 100vh;
    display: flex;
}

.box-container{
    width: 100%;
    max-width: 500px;
    margin: auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
}

.box-form{
    text-align: center;
    border-bottom: rgba(108, 108, 108, 0.49) solid 1px;
    border-top: rgba(108, 108, 108, 0.49) solid 1px;
    padding: 10px 0;
}

.box-form .btn{
    border-radius: 20px;
}

.box-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;

}

.box-link{
    text-align: center;
    margin: 20px;
}


.box-switch p {
    margin: 0;
}

.navbar-container {
    display: flex;
    justify-content: center;
    background-color: white;
    color: white;
    width: 100vw;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.nav-link a {
    text-decoration: none;
    margin: 0 10px;
}

.nav-search form {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.nav-search input{
    border-radius: 5px;
    border: 1px solid rgba(108, 108, 108, 0.49);
    width: 300px;
}

.nav-buttons a {
    text-decoration: none;
    margin: 0 10px;
}

.seccion-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.seccion-buttons a{
    text-decoration: none;
    margin: 0 10px;
}
